<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>

<!-- Main Wrapper -->
<div id="wrapper">
    <div class="content" animate-panel effect="zoomIn" ng-controller="dashCtrl">
        <div class="row">
            <div class="col-lg-12 text-center m-t-md">
                <h2>
                    CSPT10 Build Week 1
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div growl></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="hpanel">
                    <div class="panel-heading">
                        Naive Bayes - Go Standard Library Implementation
                    </div>
                    <div class="panel-body">
                        <p>
                            This Naive Bayes implementation uses the standard Go (Golang) library. The classifier "model" is trained
                            on the <code>Spam Text Message Classification</code> downloaded from 
                            <a href="https://www.kaggle.com/team-ai/spam-text-message-classification" target="_blank">[Kaggle Link]</a>
                        </p>

                        <form role="form" id="form">
                            <div class="form-group">
                                <label>Text</label>
                                <textarea rows="3" cols="50" class="form-control input-sm" id="spam_text" ng-model="spam_text"
                                        ng-model="prodcard.prdcarddesclong"></textarea>
                                <span class="help-block m-b-none">Enter some text and see if it is spam!</span>
                            </div>
                            <div>
                                <button class="btn btn-sm btn-primary m-t-n-xs pull-right" ng-click="getPred()"><strong>Submit</strong></button>
                            </div>
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle">Select Test Message <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a ng-click="fillTestMsg('spam')">Spam Message</a></li>
                                    <li><a ng-click="fillTestMsg('ham')">Ham Message</a></li>
                                    <li><a ng-click="fillTestMsg('clear')">Clear</a></li>
                                </ul>
                            </div>
                        </form>
                        <hr>
                        <p>High level characteristics of the Go standard library classifier model</p>
                        <table class="table">
                            <thead>
                            <tr>
                                <td>
                                    Model Attribute
                                </td>
                                <td>
                                    Value
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <span class="font-extra-bold">Model Trained?</span>
                                </td>
                                <td>
                                    <span ng-show="info.hasbeentrained" class="font-light">Yes</span>
                                    <span ng-hide="info.hasbeentrained" class="font-light">No</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="font-extra-bold">Number of Observations</span>
                                </td>
                                <td>
                                    <span class="font-light">{{info.numobs}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="font-extra-bold">Number of Tokens</span>
                                </td>
                                <td>
                                    <span class="font-light">{{info.numtkns}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="font-extra-bold">Number of Spam Messages</span>
                                </td>
                                <td>
                                    <span class="font-light">{{info.numspam}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="font-extra-bold">Number of Ham Messages</span>
                                </td>
                                <td>
                                    <span class="font-light">{{info.numham}}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <hr>
                        <p>Check out my Medium post for a description of the problem and the native code implementation! 
                        See: <a href="https://medium.com/@danoand/naive-bayes-classifier-a-naive-gopher-approach-3dd6cfec7fd3" target="_blank">[Medium Post]</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <div class="hpanel">
                        <div class="panel-heading">
                            Classifier Prediction
                        </div>
                        <div class="panel-body">
                            <div class="stats-title pull-left">
                                <h4>Spam Prediction</h4>
                            </div>
                            <div class="stats-icon pull-right">
                                <i class="pe-7s-tools fa-3x"></i>
                            </div>
                            <div class="m-t-xl">
                                <h1 class="text-success" ng-show="pred.havepred">{{pred.prediction}}%</h1>
                                <h1 class="text-success" ng-hide="pred.havepred"><i class="pe-7s-cloud-download"></i></h1>
                                <small>
                                    Enter text and click submit to generate a prediction - the probability of a spam message - using 
                                    a model implemented using the Go standard library.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="hpanel">
                        <div class="panel-heading">
                            Scikit Learn Bayes Classifier Prediction
                        </div>
                        <div class="panel-body">
                            <div class="stats-title pull-left">
                                <h4>Scikit Learn Spam Prediction</h4>
                            </div>
                            <div class="stats-icon pull-right">
                                <i class="pe-7s-science fa-3x"></i>
                            </div>
                            <div class="m-t-xl">
                                <h1 class="text-info" ng-show="pypred.havepred">{{pypred.prediction}}</h1>
                                <h1 class="text-info" ng-hide="pypred.havepred"><i class="pe-7s-cloud-download"></i></h1>
                                <small>
                                    Enter text and click submit to generate a prediction using Scikit Learn's <code>MultinomialNB</code> 
                                    model<span ng-show="pypred.havepred"> (test prediction score: <code>{{pypred.score}}</code>)</span>.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
